html {
	background-color: black
	;
}

#Planet {
	color: orange;
}

#Porn {
	color: green;
}

#left-scroll{
	color: green;
	float: left;
	width: 15%;
	border: 4px groove orange;


}

#Wrapper{
	width: 100%;
	position: fixed;
	margin-left: 15%;
	margin-top: 1%;
}

#Objectif {
    border: 4px solid #87AB39;
	background-color: orange;
	text-align: left;
	border-radius: 15px;
	width: 50%;
	padding-left: 1%;
	float: left;
	margin-left: 1%;
	
}

#Design{
	border: 4px solid orange;
	text-align: left;
    overflow: hidden;
    background-color: #87AB39;
    border-radius: 15px;
    padding-left: 1%;
   margin-right: 17%;
}

#title {
	border: dotted green;
}




/* */